/* Customizing component styles properties globally */
html, body {
  /*  background-color: #FCC9D3; */
   background-color: #EEFCA6; 
  /*  background-color: #FCC9D3; */
    margin: 0;
    height: 100%;
   --lumo-primary-color: blue;
  --vaadin-button-background: lightgray;
  --vaadin-button-border-color: black;
}

/* Customizing a component part with a style block */
vaadin-app-layout::part(navbar) {
  padding: 0.5em 1em;
}
